



@media screen and (min-width:490px){
   .row.header {
        width:100%;
        text-align: center;
        display:inline-block;
        font-size:x-large;
        font-family:-webkit-pictograph;
        color:crimson;
        padding:10px 0px 0px 0px;
    }
    .row.headerinfo {
        width:100%;
        text-align: center;
        display:inline-block;
        font-size:small;
        font-family:-webkit-pictograph;
        color:blueviolet;
        padding:1px 0px 0px 0px;
    }
    .body{
        width:100%;
        padding:5px; 
         font-family:-webkit-pictograph;
    }
    .col-warning-block{
        width:16.66%;
    }
    .col-warning-head{
        font-weight: bolder;
        font-size: medium;
        padding: 4px 4px 4px 4px;
        border:1px solid black;
        border-bottom: 0px;
        border-radius: 5px 5px 0px 0px;
        font-family:-webkit-pictograph;
    }
    .col-warning-info{
        font-size:medium;
        border:1px solid black;
        border-radius: 0px 0px 5px 5px;
        padding: 4px 4px 4px 4px;
        font-family:-webkit-pictograph;
    }
	.row{
		width:100%;
		border-radius:5px;
		display:flex;
	}

	.col-1
{
    width:8.33%;
    padding:1px;
    margin:2px;
}

.col-2
{
    width:16.66%;
    padding:1px;
     margin:2px;
}

.col-3
{
    width:25%;
    padding:1px;  
   margin:2px;
}

.col-4
{
 width:33.33%; 
 padding:1px;
  margin:2px;  
}
.col-5
{
    width:41.66%;
    padding:1px;
    margin:2px;
}
.col-6
{
    width:50%;
    padding:1px;
    margin:2px;
}
.col-7
{
    width:58.33%;
    padding:1px;
    margin:2px;
}
.col-8
{
    width:66.66%;
    padding:1px;
    margin:2px;
}
.col-9
{
    width:75%;
    padding:1px;
    margin:2px;
}
.col-10
{
    width:83.33%;
    padding:1px;
    margin:2px;
}
.col-11
{
    width: 91.67%;
    padding:1px;
    margin:2px;
}
.col-12
{
    width:100%;
    padding:1px;
    margin:1px;    
} 
.button-medium{
	width:100%;
	padding:5px;
	margin:5px;
	border-radius: 5px;
	text-align : center;
	background-color:#89e8ed;
	color:#ff7777;
	font-family: sans-serif;
	font-weight: bolder;
}


}
@media screen and (max-width: 489px){

	.row{
		width:100%;
		border-radius:5px;
		display:block;
	}
    .row.head{
        width:100%;
        text-align: center;
        font-size: 30px;
    }
.col-1
{
    width:100%;
    padding:1px;
     margin:2px;
}

.col-2
{
    width:100%;
    padding:1px;
     margin:2px;
}

.col-3
{
    width:100%;
    padding:1px;  
   margin:2px;
}

.col-4
{
 width:100%; 
 padding:1px;
  margin:2px;  
}
.col-5
{
    width:100%;
    padding:1px;
    margin:2px;
}
.col-6
{
    width:100%;
    padding:1px;
    margin:2px;
}
.col-7
{
    width:100%;
    padding:1px;
    margin:2px;
}
.col-8
{
    width:100%;
    padding:1px;
    margin:2px;
}
.col-9
{
    width:100%;
    padding:1px;
    margin:2px;
}
.col-10
{
    width:100%;
    padding:1px;
    margin:2px;
}
.col-11
{
    width:100%;
    padding:1px;
    margin:2px;
}
.col-12
{
    width:100%;
    padding:1px;
    margin:2px;    
}

.line-space-5{
	width:100%;
	margin:5px;

}

.line-space-10{
	width:100%;
	margin:10px;

}

.line-space-15{
	width:100%;
	margin:15px;

}
.button-medium{
	width:30%;
	padding:5px;
	margin:5px;
	border-radius: 5px;
	text-align : center;
	background-color:#89e8ed;
	color:#ff7777;
	font-family: sans-serif;
	font-weight: bolder;
}
}

